@font-face {
    font-family: Vazir;
    src: url("../Vazir.ttf");
}
body {
    display: flex;
    font-family: Vazir;
    background-color: #f1f1f1;
}

.container {
    margin:50px auto ;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-bottom: 25px;


}
#form-ctl{
    margin:auto;
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=password] {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border: 2px solid green;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 5px;
}
input[type=submit]{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    height: 30px;
    width: 150px;
}
#admin-img {
    display: flex;
    align-self: center;
    margin-top: 100px;
}
#login{
    background-color: forestgreen;
    align-self: center;
}

#Forget{
    text-decoration: none;
    color: crimson;
    margin-top: 20px;
}
#php-tag{
    align-self: center;
    color: blue;
    margin: 20px;
}